.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
                                /* navber style start */
.nav-logo{
    text-align: left;
}
.nav-heading{
    text-align: right;
}
.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.nav-menu a{
    padding: 5px 10px;
    margin: 20px 0;
    background-color: transparent;
}
                                /* navber style end */

                                /* profiele style stard */
.profile .top-weather-icon{
    position: absolute;
    right: 100px;
    top: 20px;
    transition:width transform 2s;
}
.profile .top-weather-icon:hover{
   transform: rotate(360deg);
   
}

.profile .bottom-weather-icon{
    position: absolute;
    left: 60px;
    bottom: 20px;
    transition: transform 2s;
}
.profile .bottom-weather-icon:hover{
   transform: rotate(360deg);
}

.profile-desc p{
    color: gray;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px ;
}
                                /* profile style end */

                                /* about me start */
.about-me-img{
    margin-top: 120px;
}
.about-me-img img{
    height:270px;
    width: 270px;

}
.about-me-desc{
    text-align: left;
}
                                /* about me end*/

                                /* achievement-content style start */
.achievement{
    padding-right: 50px;
}
.Contact button{
    
    width: 150px;
}
.contact-links{
    position: relative;
}
.media-button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 200px;
}

                /* achievement-content style end */

                /* footer style stard  */

.footer-menu{
    margin-top: 12px;
}
.footer-menu a{
    display: inline;
    margin: 10px;
    
}
                /* footer style end  */
